In [1]:
%%time
import pandas as pd
df = pd.read_excel('D:/Work/Course Work/Semester 4/DS Competition/Data/New folder/newtable.xlsx',sheet_name='newtable')

df.head()
df.dtypes

Wall time: 11min 20s

trip_id                  int64
bike_id                 object
start_station            int64
trip_route_category     object
start_time              object
end_time                object
start_lat              float64
start_lon              float64
plan_duration            int64
passholder_type         object
trip_duration            int64
end_station              int64
end_lat                float64
end_lon                float64
dtype: object

In [2]:
import pandas as pd
import numpy as np
from fbprophet import Prophet
from datetime import datetime,date
from sklearn.model_selection import train_test_split
from matplotlib import pyplot 
from sklearn.metrics import mean_squared_error
from math import sqrt

In [78]:
ial=[3021,	3053,	3055,	3059,	
     3060,	3061,	3079,	3080,	
     4108,	4138,	4142,	4143,	
     4144,	4146,	4147,	4148,	
     4149,	4150,	4151,	4152,	
     4153,	4154,	4155,	4156,	
     4157,	4158,	4159,	4160,	
     4162,	4163,	4165,	4166,	
     4167,	4169,	4170,	4174,	
     4176,	4177,	4180,	4181,	
     4183,	4194,	4244,  4276] 
df=df[~df.start_station.isin(ial)]

In [79]:
df_d=pd.pivot_table(df[['start_station','start_time']],aggfunc='count',index=df['start_time'].dt.date,columns=['start_station'],fill_value=0)  #date

df_d.index = pd.to_datetime(df_d.index)
df_d.head()

              start_time                                               ...  \
start_station       3005 3006 3007 3008 3009 3010 3011 3013 3014 3016  ...
start_time                                                             ...
2016-07-07             9    8    1    0    0    0    0    0   14    9  ...
2016-07-08            20   19    5    2    0    0    0    0   22   10  ...
2016-07-09            21   11    1    4    0    0    0    0    8    1  ...
2016-07-10            10   17    5    6    0    2    0    0    5    0  ...
2016-07-11             9   12    3    5    0    1    0    0   19   13  ...


start_station 4245 4246 4248 4249 4250 4254 4266 4267 4273 4275
start_time
2016-07-07       0    0    0    0    0    0    0    0    0    0
2016-07-08       0    0    0    0    0    0    0    0    0    0
2016-07-09       0    0    0    0    0    0    0    0    0    0
2016-07-10       0    0    0    0    0    0    0    0    0    0
2016-07-11       0    0    0    0    0    0    0    0    0    0

[5 rows x 96 columns]

In [80]:
df_o=pd.DataFrame()
mse_trn=[]
mse_tst=[]

In [81]:
for i,v in enumerate(df_d.columns):
    #i=0
    #v=('start_time', 3005)
    
    def prophet_inputize(df,column_num = 0):
        df_1 = pd.DataFrame()
        df_1['ds'] = df.index
        df_1['y'] = list(df.iloc[:,i])
        return(df_1)
    
    def do_something(df_d,sample ='D',test =-184):
        
        
        #df_d = df_d.resample(sample).sum()
        
        # imported from the cycling event url:https://www.ciclavia.org/events_history
        rem=['2016-08-14','2018-10-16','2017-03-26','2017-05-11','2017-08-13','2017-10-08',\
           '2017-12-10','2018-04-22','2018-06-24','2018-09-30','2018-12-02']

        df_d['temp']=df_d.index   # creating a column of indexes

        for l in rem:
            df_d=df_d[df_d.temp!=l]            # removing the rows with rem values as these are the outliers
    

        df_d.drop('temp',axis=1,inplace=True)  # removing the index column
        
        
        df_d_trn = pd.DataFrame()
        df_d_tst = pd.DataFrame()
        
        df_d_trn = df_d.loc[df_d.index[:test]]#int(train_prop*len(df_d.index))]]
                
        df_d_tst = df_d.loc[df_d.index[test:]]#int(train_prop*len(df_d.index)):]]
    
        df_d_trn = prophet_inputize(df_d_trn,i)
        df_d_tst = prophet_inputize(df_d_tst,i)
    
#        df_d_trn.plot(x='ds',y='y')
#        df_d_tst.plot(x='ds',y='y')
        
        return(df_d_trn,df_d_tst)

    
    sample_freq = 'D'
    trn, tst = do_something(df_d,sample_freq,-184)    
    m = Prophet(yearly_seasonality=True,weekly_seasonality= False,daily_seasonality=False)
    m.fit(trn)
    future = m.make_future_dataframe(periods=len(tst)+90+3,freq=sample_freq)    # till 31st march 2019 q1 2019
    forecast = m.predict(future)
    df_o[v]=forecast['yhat']
#    df_o['ds']=forecast['ds']
#    fig1 = m.plot(forecast)
#    print(forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail())
#    print(tst.tail())
    y_actual_tst=tst['y']
    y_predicted_tst=df_o[v][df_o.index[-184:]]
    mse_tst.append(sqrt(mean_squared_error(y_actual_tst, y_predicted_tst)))
    
    y_actual_trn=trn['y']
    y_predicted_trn=df_o[v][df_o.index[:-184-93]]                              ## removing q1 2019 dates
    mse_trn.append(sqrt(mean_squared_error(y_actual_trn, y_predicted_trn)))

df_o['ds']=forecast['ds']

In [82]:
### now run this


# imported from the cycling event url:https://www.ciclavia.org/events_history
rem=['2016-08-14','2018-10-16','2017-03-26','2017-05-11','2017-08-13','2017-10-08',\
           '2017-12-10','2018-04-22','2018-06-24','2018-09-30','2018-12-02']

df_d['ds']=df_d.index   # creating a column of indexes

for l in rem:
    df_d=df_d[df_d.ds!=l]            # removing the rows with rem values as these are the outliers
    
df_d=df_d.reset_index(drop=True)     # reset index to zero

mse_trn=pd.DataFrame(mse_trn)
mse_tst=pd.DataFrame(mse_tst)

In [83]:
with pd.ExcelWriter('C:\\Users\\mayan\\Downloads\\New folder\\outputY.xlsx') as writer:  # doctest: +SKIP
    df_d.to_excel(writer,sheet_name='actual(Y)')
    df_o.to_excel(writer,sheet_name='predicted(Y)')
    mse_trn.to_excel(writer,sheet_name='mse_trn(Y)')
    mse_tst.to_excel(writer,sheet_name='mse_tst(Y)')

In [87]:
df_d.head()

              start_time                                               ...  \
start_station       3005 3006 3007 3008 3009 3010 3011 3013 3014 3016  ...
0                      9    8    1    0    0    0    0    0   14    9  ...
1                     20   19    5    2    0    0    0    0   22   10  ...
2                     21   11    1    4    0    0    0    0    8    1  ...
3                     10   17    5    6    0    2    0    0    5    0  ...
4                      9   12    3    5    0    1    0    0   19   13  ...

                                                            temp         ds
start_station 4248 4249 4250 4254 4266 4267 4273 4275
0                0    0    0    0    0    0    0    0 2016-07-07 2016-07-07
1                0    0    0    0    0    0    0    0 2016-07-08 2016-07-08
2                0    0    0    0    0    0    0    0 2016-07-09 2016-07-09
3                0    0    0    0    0    0    0    0 2016-07-10 2016-07-10
4                0    0    0    0    0    0    0    0 2016-07-11 2016-07-11

[5 rows x 98 columns]

In [115]:
df_d['y']=df_d.drop([('temp','')],axis=1).sum(axis=1)

In [116]:
df_d.head()

              start_time                                               ...  \
start_station       3005 3006 3007 3008 3009 3010 3011 3013 3014 3016  ...
0                      9    8    1    0    0    0    0    0   14    9  ...
1                     20   19    5    2    0    0    0    0   22   10  ...
2                     21   11    1    4    0    0    0    0    8    1  ...
3                     10   17    5    6    0    2    0    0    5    0  ...
4                      9   12    3    5    0    1    0    0   19   13  ...

                                                       temp         ds    y
start_station 4249 4250 4254 4266 4267 4273 4275
0                0    0    0    0    0    0    0 2016-07-07 2016-07-07  173
1                0    0    0    0    0    0    0 2016-07-08 2016-07-08  323
2                0    0    0    0    0    0    0 2016-07-09 2016-07-09  373
3                0    0    0    0    0    0    0 2016-07-10 2016-07-10  310
4                0    0    0    0    0    0    0 2016-07-11 2016-07-11  329

[5 rows x 99 columns]

In [130]:
t=pd.DataFrame()
t['ds']=df_d[('ds','')]
t['y']=df_d['y']
t.head()

          ds    y
0 2016-07-07  173
1 2016-07-08  323
2 2016-07-09  373
3 2016-07-10  310
4 2016-07-11  329

In [136]:
t.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 897 entries, 0 to 896
Data columns (total 2 columns):
ds    897 non-null datetime64[ns]
y     897 non-null int64
dtypes: datetime64[ns](1), int64(1)
memory usage: 14.1 KB

In [134]:
t.iloc[0:25,:]

           ds    y
0  2016-07-07  173
1  2016-07-08  323
2  2016-07-09  373
3  2016-07-10  310
4  2016-07-11  329
5  2016-07-12  496
6  2016-07-13  490
7  2016-07-14  535
8  2016-07-15  449
9  2016-07-16  374
10 2016-07-17  338
11 2016-07-18  400
12 2016-07-19  450
13 2016-07-20  454
14 2016-07-21  491
15 2016-07-22  442
16 2016-07-23  312
17 2016-07-24  322
18 2016-07-25  490
19 2016-07-26  440
20 2016-07-27  493
21 2016-07-28  513
22 2016-07-29  582
23 2016-07-30  472
24 2016-07-31  498

In [137]:
#dft1=pd.DataFrame(list(df_d['index']),columns=['ds'])
#dft1.rename(columns={'0':'ds'}, inplace=True)
#dft1['y']=list(df_d.loc[:,'y'])
#dft1.head()

dft2=t.iloc[0:25,:]
dft2.tail()
dftv=t.iloc[-25:,:]
dftv.head()
#dft2.plot(x='ds',y='y')
#dftv.plot(x='ds',y='y')


m=Prophet()
m.fit(dft2)

future = m.make_future_dataframe(periods=25)
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

INFO:fbprophet:Disabling yearly seasonality. Run prophet with yearly_seasonality=True to override this.
INFO:fbprophet:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.
INFO:fbprophet:n_changepoints greater than number of observations.Using 19.

           ds        yhat  yhat_lower  yhat_upper
45 2016-08-21  604.424008  524.236307  687.026330
46 2016-08-22  670.184296  591.067802  754.901835
47 2016-08-23  725.854376  641.128064  806.945030
48 2016-08-24  742.849718  656.769426  828.425456
49 2016-08-25  718.239642  640.211901  798.424120

In [138]:
forecast

,ds,trend,yhat_lower,yhat_upper,trend_lower,trend_upper,additive_terms,additive_terms_lower,additive_terms_upper,weekly,weekly_lower,weekly_upper,multiplicative_terms,multiplicative_terms_lower,multiplicative_terms_upper,yhat
0,2016-07-07,334.409741,266.021962,430.581381,334.409741,334.409741,14.451948,14.451948,14.451948,14.451948,14.451948,14.451948,0.0,0.0,0.0,348.861689
1,2016-07-08,341.948067,284.600099,456.291473,341.948067,341.948067,27.909842,27.909842,27.909842,27.909842,27.909842,27.909842,0.0,0.0,0.0,369.857908
2,2016-07-09,349.486392,224.073216,386.221562,349.486392,349.486392,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,0.0,0.0,0.0,303.579727
3,2016-07-10,357.024718,199.640745,370.169550,357.024718,357.024718,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,0.0,0.0,0.0,287.814334
4,2016-07-11,364.563043,275.656335,435.155334,364.563043,364.563043,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,0.0,0.0,0.0,353.574622
5,2016-07-12,372.101369,330.120363,492.957721,372.101369,372.101369,37.143333,37.143333,37.143333,37.143333,37.143333,37.143333,0.0,0.0,0.0,409.244702
6,2016-07-13,379.639695,347.423205,503.383930,379.639695,379.639695,46.600349,46.600349,46.600349,46.600349,46.600349,46.600349,0.0,0.0,0.0,426.240044
7,2016-07-14,387.178020,325.891711,485.410078,387.178020,387.178020,14.451948,14.451948,14.451948,14.451948,14.451948,14.451948,0.0,0.0,0.0,401.629968
8,2016-07-15,394.716346,348.421435,505.659602,394.716346,394.716346,27.909842,27.909842,27.909842,27.909842,27.909842,27.909842,0.0,0.0,0.0,422.626187
9,2016-07-16,402.254671,278.321718,440.167074,402.254671,402.254671,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,0.0,0.0,0.0,356.348006
10,2016-07-17,409.792997,259.716316,425.412360,409.792997,409.792997,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,0.0,0.0,0.0,340.582613
11,2016-07-18,417.331322,319.879925,486.748532,417.331322,417.331322,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,0.0,0.0,0.0,406.342901
12,2016-07-19,424.869648,383.595586,544.894286,424.869648,424.869648,37.143333,37.143333,37.143333,37.143333,37.143333,37.143333,0.0,0.0,0.0,462.012981
13,2016-07-20,432.407974,397.380767,554.439146,432.407974,432.407974,46.600349,46.600349,46.600349,46.600349,46.600349,46.600349,0.0,0.0,0.0,479.008323
14,2016-07-21,439.946299,376.192467,538.001468,439.946299,439.946299,14.451948,14.451948,14.451948,14.451948,14.451948,14.451948,0.0,0.0,0.0,454.398247
15,2016-07-22,447.484625,394.683626,562.014315,447.484625,447.484625,27.909842,27.909842,27.909842,27.909842,27.909842,27.909842,0.0,0.0,0.0,475.394466
16,2016-07-23,455.022950,326.541021,491.369339,455.022950,455.022950,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,0.0,0.0,0.0,409.116285
17,2016-07-24,462.561276,311.571942,476.686769,462.561276,462.561276,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,0.0,0.0,0.0,393.350892
18,2016-07-25,470.099602,377.139026,542.643430,470.099602,470.099602,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,0.0,0.0,0.0,459.111180
19,2016-07-26,477.637927,432.968874,599.323320,477.637927,477.637927,37.143333,37.143333,37.143333,37.143333,37.143333,37.143333,0.0,0.0,0.0,514.781260
20,2016-07-27,485.176253,448.213852,608.531669,485.176253,485.176253,46.600349,46.600349,46.600349,46.600349,46.600349,46.600349,0.0,0.0,0.0,531.776602
21,2016-07-28,492.714578,425.421383,585.932797,492.714578,492.714578,14.451948,14.451948,14.451948,14.451948,14.451948,14.451948,0.0,0.0,0.0,507.166526
22,2016-07-29,500.252904,440.863986,605.619260,500.252904,500.252904,27.909842,27.909842,27.909842,27.909842,27.909842,27.909842,0.0,0.0,0.0,528.162745
23,2016-07-30,507.791229,376.608399,546.998833,507.791229,507.791229,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,0.0,0.0,0.0,461.884564
24,2016-07-31,515.329555,368.666954,524.690408,515.329555,515.329555,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,0.0,0.0,0.0,446.119171
25,2016-08-01,522.867881,430.186634,585.665193,522.867880,522.867881,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,0.0,0.0,0.0,511.879459
26,2016-08-02,530.406206,484.994379,644.263834,530.406206,530.406207,37.143333,37.143333,37.143333,37.143333,37.143333,37.143333,0.0,0.0,0.0,567.549539
27,2016-08-03,537.944532,502.126494,663.231278,537.944531,537.944533,46.600349,46.600349,46.600349,46.600349,46.600349,46.600349,0.0,0.0,0.0,584.544881
28,2016-08-04,545.482857,477.311192,638.871682,545.482856,545.482859,14.451948,14.451948,14.451948,14.451948,14.451948,14.451948,0.0,0.0,0.0,559.934805
29,2016-08-05,553.021183,504.260615,667.415716,553.021181,553.021185,27.909842,27.909842,27.909842,27.909842,27.909842,27.909842,0.0,0.0,0.0,580.931024
30,2016-08-06,560.559508,440.223547,597.592558,560.559505,560.559512,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,0.0,0.0,0.0,514.652843
31,2016-08-07,568.097834,414.906523,587.877094,568.097830,568.097838,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,0.0,0.0,0.0,498.887450
32,2016-08-08,575.636160,482.761863,649.381895,575.636155,575.636164,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,0.0,0.0,0.0,564.647738
33,2016-08-09,583.174485,542.757079,698.652852,583.174480,583.174491,37.143333,37.143333,37.143333,37.143333,37.143333,37.143333,0.0,0.0,0.0,620.317818
34,2016-08-10,590.712811,553.121002,720.048493,590.712804,590.712818,46.600349,46.600349,46.600349,46.600349,46.600349,46.600349,0.0,0.0,0.0,637.313160
35,2016-08-11,598.251136,531.127072,688.407917,598.251128,598.251144,14.451948,14.451948,14.451948,14.451948,14.451948,14.451948,0.0,0.0,0.0,612.703084
36,2016-08-12,605.789462,550.776042,710.261929,605.789453,605.789471,27.909842,27.909842,27.909842,27.909842,27.909842,27.909842,0.0,0.0,0.0,633.699304
37,2016-08-13,613.327788,479.490170,651.499936,613.327777,613.327798,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,0.0,0.0,0.0,567.421122
38,2016-08-14,620.866113,470.879521,635.989291,620.866102,620.866124,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,0.0,0.0,0.0,551.655729
39,2016-08-15,628.404439,540.397498,696.256747,628.404426,628.404451,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,0.0,0.0,0.0,617.416017
40,2016-08-16,635.942764,591.770305,753.357080,635.942750,635.942778,37.143333,37.143333,37.143333,37.143333,37.143333,37.143333,0.0,0.0,0.0,673.086097
41,2016-08-17,643.481090,608.049781,768.250380,643.481074,643.481105,46.600349,46.600349,46.600349,46.600349,46.600349,46.600349,0.0,0.0,0.0,690.081439
42,2016-08-18,651.019415,582.006181,745.335238,651.019398,651.019432,14.451948,14.451948,14.451948,14.451948,14.451948,14.451948,0.0,0.0,0.0,665.471363
43,2016-08-19,658.557741,604.735506,762.258474,658.557722,658.557759,27.909842,27.909842,27.909842,27.909842,27.909842,27.909842,0.0,0.0,0.0,686.467583
44,2016-08-20,666.096067,540.674384,702.484635,666.096046,666.096086,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,-45.906666,0.0,0.0,0.0,620.189401
45,2016-08-21,673.634392,524.236307,687.026330,673.634370,673.634413,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,-69.210384,0.0,0.0,0.0,604.424008
46,2016-08-22,681.172718,591.067802,754.901835,681.172694,681.172740,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,-10.988422,0.0,0.0,0.0,670.184296
47,2016-08-23,688.711043,641.128064,806.945030,688.711018,688.711068,37.143333,37.143333,37.143333,37.143333,37.143333,37.143333,0.0,0.0,0.0,725.854376
48,2016-08-24,696.249369,656.769426,828.425456,696.249342,696.249395,46.600349,46.600349,46.600349,46.600349,46.600349,46.600349,0.0,0.0,0.0,742.849718
49,2016-08-25,703.787694,640.211901,798.424120,703.787666,703.787722,14.451948,14.451948,14.451948,14.451948,14.451948,14.451948,0.0,0.0,0.0,718.239642

In [ ]:

###############################################################################

#month analysis
df_m['index']=df_m.index
dft1 = pd.DataFrame(list(df_m['index']))#,columns=['ds'])
#dft1.rename(columns={'0':'year','1':'month'}, inplace=True)

dft1['y']=list(df_m.iloc[:,0])
dft1.head()

df_m.columns[0]
df_m.plot(x='index',y=df_m.columns[0])

dft2=dft1.iloc[0:-25,:]
dft2.tail()
dftv=dft1.iloc[-25:,:]
dftv.head()
dft2.plot(x='ds',y='y')
dftv.plot(x='ds',y='y')


m=Prophet()
m.fit(dft2)

future = m.make_future_dataframe(periods=25)
forecast = m.predict(future)
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

fig1 = m.plot(forecast)